:root {
  --primary: #edc870;
  --secondary: #f8f9fa;
  --dark: #343a40;
  --light: #f8f9fa;
  --danger: #dc3545;
}

h1,
h2,
a {
  color: whitesmoke !important;
}

h1,
h2,
li {
  font-family: "Zelda", sans-serif;
}

p {
  font-family: "Merienda", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #edc870;
}
@font-face {
  font-family: "Zelda";
  src: url("/fonts/ZeldaFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url(../src/img/backgroundZelda.webp);
}
main {
  flex: 1;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.custom-max-width {
  max-width: 400px;
}
/* Cambiar el color de la navbar cuando se pasa el cursor sobre ella */

.decoration-no {
  text-decoration: none;
}

.sidebar {
  min-width: 250px; /* Ancho mínimo de la barra lateral */
  max-width: 250px; /* Ancho máximo */
  background-color: #f8f9fa; /* Color de fondo */
  height: 100vh; /* Altura completa de la ventana */
  padding: 1rem; /* Espaciado interno */
  border-right: 1px solid #ddd; /* Línea divisoria */
}

.content {
  flex: 1; /* Usar el espacio restante */
  padding: 1rem; /* Espaciado interno */
}

.footer {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

a :hover {
  color: #edc870;
}

.navbar {
  background-image: url(../src/img/backgroundNav.jpeg);
  width: 100%;
}

.navbar-nav .nav-link {
  transition: transform 0.3s ease; /* Transición suave */
}

.navbar-nav .nav-link:hover {
  transform: scale(1.5); /* Aumenta el tamaño al 110% */
}

.navbar-toggler-icon {
  filter: invert(100%); /* Cambia el color a blanco */
}

.card-body {
  margin-bottom: auto;
}

.modal-header,
.modal-footer {
  background-image: url(../src/img/backgroundNav.jpeg);
}
.modal-body {
  background-image: url(../src/img/backgroundZelda.webp);
}

.text-white {
  color: whitesmoke;
}

strong {
  color: whitesmoke;
}

.color-primary {
  color: var(--primary) !important;
}

.color-dark {
  color: var(--dark) !important;
}

.img-hover:hover {
  transform: scale(1.3); /* Aumenta el tamaño al 110% */
}

.body-hover:hover {
  transform: scale(1.6); /* Aumenta el tamaño al 110% */
}
